.quiz-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    overflow-y: auto;
}

.quiz-modal.active {
    opacity: 1;
    visibility: visible;
}

.quiz-modal-content {
    position: relative;
    width: 25%;
    background: #CC0102;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: height 0.3s ease;
}

.quiz-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 1s ease;
    visibility: hidden;
}

.quiz-options.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.quiz-image {
    position: absolute;
    height: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.quiz-image.visible {
    opacity: 1;
    transform: translateY(0);
}

.quiz-image-1 {
    width: 60%;
    top: -100px;
    left: 20%;
}

.quiz-image-2 {
    width: 140%;
    top: -270px;
    left: 20%;
}

.quiz-image-3 {
    width: 120%;
    top: -220px;
    left: 15%;
}

.quiz-image-4 {
    width: 130%;
    top: -200px;
    left: 25%;
}

.quiz-image-5 {
    width: 100%;
    top: -170px;
    left: 30%;
}

.quiz-image-6 {
    width: 60%;
    top: -50px;
    left: 20%;
}

.quiz-image-7 {
    width: 60%;
    top: -100px;
    left: 20%;
}

.quiz-text {
    margin-top: 100px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 1.4;
    font-family: 'Circe Rounded', Arial, sans-serif;
    opacity: 0;
    transition: opacity 1s ease;
}

.quiz-text.visible {
    opacity: 1;
    transform: translateY(0);
}

.quiz-question-number {
    position: absolute;
    color: #FFE26B;
    font-size: 24px;
    font-weight: 600;
    align-self: flex-start;
    font-family: 'Circe Rounded', Arial, sans-serif;
}

.quiz-option {
    margin-top: 10px;
    background: linear-gradient(to right, #FFE680, #FAB041, #FFE680);
    border: none;
    border-radius: 16px;
    padding: 20px;
    color: #442F1E;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-family: 'Circe Rounded', Arial, sans-serif;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

.quiz-option::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease;
    z-index: 1;
}

.quiz-option::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease;
    z-index: 1;
}

.quiz-option:hover::before {
    left: 0;
}

.quiz-option:hover::after {
    right: 0;
}

.quiz-option span {
    position: relative;
    z-index: 2;
}

.quiz-next {
    background: linear-gradient(to right, #FFE680, #FAB041, #FFE680);
    border: none;
    width: 100%;
    border-radius: 12px;
    padding: 15px 30px;
    color: #442F1E;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    font-family: 'Circe Rounded', Arial, sans-serif;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 1s ease;
    visibility: hidden;
}

.quiz-next.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.quiz-next::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease;
    z-index: 1;
}

.quiz-next::after {
    content: '';
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: all 0.3s ease;
    z-index: 1;
}

.quiz-next:hover::before {
    left: 0;
}

.quiz-next:hover::after {
    right: 0;
}

.quiz-next span {
    position: relative;
    z-index: 2;
}

.quiz-result {
    color: #FFE26B;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 10px 0 0 0;
    font-family: 'Circe Rounded', Arial, sans-serif;
}

.quiz-description {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: 'Circe Rounded', Arial, sans-serif;
    font-weight: 200;
}

.quiz-rules {
    margin-top: 15px;
    color: #FFE26B;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'Circe Rounded', Arial, sans-serif;
    background: none;
    border: none;
    padding: 0;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 1500px) {
    .quiz-modal-content {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .quiz-modal-content {
        width: 95%;
        margin: 20px auto;
        padding: 20px;
    }

    .quiz-image {
        position: absolute;
        height: auto;
        opacity: 0;
        transition: opacity 1s ease;
    }

    .quiz-image.visible {
        opacity: 1;
    }

    .quiz-image-1 {
        width: 50%;
        top: -150px;
        left: 25%;
    }

    .quiz-image-2 {
        width: 100%;
        top: -310px;
        left: 29%;
    }

    .quiz-image-3 {
        width: 120%;
        top: -360px;
        left: 16%;
    }

    .quiz-image-4 {
        width: 110%;
        top: -270px;
        left: 27%;
    }

    .quiz-image-5 {
        width: 90%;
        top: -240px;
        left: 32%;
    }

    .quiz-image-6 {
        width: 48%;
        top: -80px;
        left: 25%;
    }

    .quiz-image-7 {
        width: 50%;
        top: -150px;
        left: 25%;
    }

    .quiz-text {
        margin-top: 150px;
        font-size: 3vh;
    }

    .quiz-options {
        gap: 0px;
        width: 100%;
    }

    .quiz-option {
        font-size: 3vh;
        padding: 20px 15px;
    }

    .quiz-result {
        font-size: 3.5vh;
    }

    .quiz-description {
        font-size: 2vh;
    }

    .quiz-next {
        font-size: 2.8vh;
        padding: 12px 20px;
    }

    .quiz-rules {
        margin-top: 20px;
        font-size: 16px;
    }
}

.quiz-modal-close {
    position: absolute;
    top: 0px;
    right: -50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 101;
}

@media screen and (max-width: 768px) {
    .quiz-modal-close {
        top: 15px;
        right: 15px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 600px) {
    .quiz-text {
        margin-top: 100px;
    }

    .quiz-image-1 {
        width: 60%;
        top: -80px;
        left: 20%;
    }

    .quiz-image-2 {
        width: 140%;
        top: -220px;
        left: 20%;
    }

    .quiz-image-3 {
        width: 130%;
        top: -200px;
        left: 15%;
    }

    .quiz-image-4 {
        width: 130%;
        top: -165px;
        left: 20%;
    }

    .quiz-image-5 {
        width: 120%;
        top: -175px;
        left: 25%;
    }

    .quiz-image-6 {
        width: 60%;
        top: -40px;
        left: 20%;
    }

    .quiz-image-7 {
        width: 60%;
        top: -80px;
        left: 20%;
    }
}